body {
	background-color: #fff;
	background-image: url("asfalt-dark.png");
	font-family: 'Raleway', sans-serif;
	margin: 0;
}

.header {
	background-color: #b00f0f;
	background-image: url("asfalt-dark.png");
	color: #fff;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 0.5em;
	margin-bottom: 1.5em;
	padding-left: 1em;
	padding-right: 1em;
}

.container > span {
	display: block;
	margin-top: 1em;
	font-size: 2em;
	max-width: 800px;
	padding-left: 1em;
	padding-right: 1em;
}

.container > p {
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
	text-align: justify;
	margin-top: 1.5em;
	margin-bottom: 2em;
	padding-left: 1em;
	padding-right: 1em;
}

.header img {
	width: 30em;
	max-width: 100%;
}

.container {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 800px;
	text-align: center;
}

.dropzone {
	display: block;
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 1em;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: 2px dashed #F21A1A;
	background-color: rgba(255, 255, 255, 0.5);
	color: #555;
}
