*.egg
*.egg-info
*.pyc
*$py.class
*~
.*.swp

# Compiled templates
*.pt.py
*.txt.py

# Test / coverage reports
.coverage
.tox/
nosetests.xml
coverage.xml

build/
dist/
bin/
lib/
include/
.idea/
distribute-*.tar.gz
bookenv/
jyenv/
pypyenv/
env*/
venv/

.DS_Store

uploads/
hcc-photo-upload.sqlite
